name: citest

on:
  pull_request:
    branches: ["main"]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install tools
        run: |
          pip install pytest ruff

      - name: Run Ruff (Lint)
        run: ruff check .

      - name: Run Tests
        run: pytest -q
